/**
* Base
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

article,
footer {
	padding-right: $padding-content;
	padding-left: $padding-content;
}

nav {
	overflow: hidden;
	margin-bottom: $margin-content;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: thin dotted;
	}

	&:active {
		color: $color-text-link;
	}
}

img {
	max-width: 100%;
}
